<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>welcome to homepage</p>
    <div><a href="/login">login </a>to your account.</div>
    <div>dont have a account<a href="/signup"> signup</a></div>
  </body>
</html>
