<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <form action="" method="post">
        <label for="firstName">First Name
            <input type="text" name="firstname" id="firstName">
        </label>
        <label for="lastName">Last Name
            <input type="text" name="lastname" id="lastName">
        </label>
        <label for="email">Email
            <input type="email" name="email" id="email">
        </label>
        <label for="username">set your username
            <input type="text" id="username" name="username">
        </label>
        <label for="password">set your password
            <input type="password" id="password" name="password" >
        </label>
        <label for="cnfmPswd">
            <input type="password" name="confirmPassword" id="cnfmPswd">
        </label>
        <button>signup</button>
    </form>
</body>
</html>