<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form method="post">
        <div class="inputs">
            <label for="firstname">First Name
                <input type="text" id="firstname" name="firstname" placeholder="jon">
            </label>
            <label for="lastname">Last Name
                <input type="text" id="lastname" name="lastname" placeholder="doe">
            </label>
            <label for="email">Email
                <input type="email" name="email" id="email">
            </label>
            <label for="username">Username
                <input type="text" id="username" name="username">
            </label>
            <label for="password">password
                <input type="password" id="password" name="password" >
            </label>
            <label for="confirmpassword">Confirm Password
                <input type="password" id="confirmpassword" name="confirmPswd">
            </label>
        </div>  
        <button type="submit">Signup</button>
    </form>
</body>
</html>